<h1 *ngIf="contadorLanzamientos > 0">Lanzamientos: {{contadorLanzamientos}}</h1>
<button class="button"type="button" (click)="Ordenar('ASC')">▲ Ascendente</button> 
<button class="back" type="button" (click)="Ordenar('DESC')">▼ Descendente</button> 

<br>
<ol>
  <li *ngFor="let lanzamiento of lanzamientos; let even = even; let odd = odd" [ngClass]="{ odd: odd, even: even }"
   routerLink="/lanzamiento/{{lanzamiento.id}}">
   <h3>{{lanzamiento.id}}</h3>
  <h3>{{lanzamiento.name}}</h3>
  <h4 style="color:red" *ngIf="lanzamiento.failreason !== undefined">{{lanzamiento.failreason}}</h4>
  <h6>Fecha en formato ISO: {{lanzamiento.fecha}}</h6>
  </li>
</ol>
